@tailwind base;
@tailwind components;
@tailwind utilities;

.rdp-root{
  --rdp-accent-color: #1e3629;
}

@font-face {
  font-family: "LTRenovate-bold";
  src: url("./fonts/RLRenovate/LTRenovate-Bold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-semibold";
  src: url("./fonts/Raleway/Raleway-SemiBold.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway-medium";
  src: url("./fonts/Raleway/Raleway-Medium.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Raleway-bold";
  src: url("./fonts/Raleway/Raleway-Bold.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Raleway-regular";
  src: url("./fonts/Raleway/Raleway-Regular.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Cinza Tailwind */
  border-radius: 4px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* Cinza mais escuro para hover */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent; /* Fundo transparente */
}

.scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

html {
  scroll-behavior: smooth;
}